@import "libs/font-awesome/variables.less";
@import "libs/font-awesome/core.less";
@import "libs/font-awesome/fixed-width.less";

@import "variables.less";
@import "themes/railscast.variables.less";

@import "reset.less";
@import "globals.less";
@import "fonts.less";
@import "layouts/three-column-pusher.less";
@import "themes/railscast.less";

@import "blocks/sidebar.less";
@import "blocks/footer.less";
@import "blocks/logo.less";



html.js .b-article {
  visibility: hidden;
  &.is-initialized {
    visibility: visible;
  }
}

html.no-js .b-article,
html.no-canvas .b-article,
html.is-ready .b-article {
  visibility: visible;
}

html.js .b-directory {
  visibility: hidden;
  &.is-initialized {
    visibility: visible;
  }
}

html.no-js .b-directory,
html.no-canvas .b-directory,
html.is-ready .b-directory {
  visibility: visible;
}

html.js .b-sidebar-header {
  visibility: hidden;
  &.is-initialized {
    visibility: visible;
  }
}

html.no-js .b-sidebar-header,
html.no-canvas .b-sidebar-header,
html.is-ready .b-sidebar-header {
  visibility: visible;
}


html.no-js .b-logo,
html.no-canvas .b-logo,
html.is-ready .b-logo {
  visibility: visible !important;
}


.b-logo {
  visibility: hidden;
}

