<div class="b-article">


  <header class="b-article-header">
    <h1>
      {{ page.title }}
    </h1>
  </header>
  
  <article class="b-article-body">
    {% if page %}
      {{ page.render() }}
    {% endif %}
  </article>

  <footer class="b-article-footer t-tertiary">

    <div class="b-article-date">
      {% if page.date_added %}
      <div class="b-article-date-added">
        Published {{ page.date_modified.strftime('%d').strip('0')|ordinal_suffix }} {{ page.date_added.strftime('%B %Y') }}
      </div>
      {% endif %}

      {% if page.date_modified %}
      <div class="b-article-date-modified">
        Updated {{ page.date_modified.strftime('%d').strip('0')|ordinal_suffix }} {{ page.date_added.strftime('%B %Y') }}
      </div>
      {% endif %}
    </div>

    <div class="b-article-author">
      {% if page.author_hash %}
        <div class="b-article-author-gravitar" style="background: url(http://www.gravatar.com/avatar/{{ page.author_hash }}?s=50;) no-repeat;"></div>
      {% endif %}
      {% if page.author_name %}
        <span class="b-article-author-name">{{ page.author_name }}</span>
      {% endif %}
      {% if page.author_email %}
        <span class="b-article-author-email">{{ page.author_email }}</span>
      {% endif %}
    </div>

  </footer>
  
</div>
