<ul class="b-social-links g-clearfix">
  <li class="b-social-item">
    <a class="b-social-link is-bitbucket is-first" href="//bitbucket.org/spryle" target="_blank" alt="James on Bitbucket" title="bitbucket"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-github is-first" href="//github.com/spryle" target="_blank" alt="James on Github" title="github"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-twitter" href="//twitter.com/#!/spryle" target="_blank" alt="James on Twitter" title="twitter"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-reddit" href="//www.reddit.com/user/spryle/" target="_blank" alt="James on Reddit" title="reddit"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-hacker-news" href="//news.ycombinator.com/user?id=spryle" target="_blank" alt="James on Hacker News" title="hacker news"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-linkedin" href="//linkedin.com/pub/james-spry-leverton/23/a66/bba" target="_blank" alt="James on LinkedIn" title="linkedin"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-facebook is-last" href="//www.facebook.com/jspryleverton" target="_blank" alt="James on Facebook" title="facebook"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-lastfm" href="//www.last.fm/user/spry13443" target="_blank" alt="James on last.fm" title="lastfm"></a>
  </li>
</ul>
