{% extends "base.html" %}

{% block title %}
  500: Server Error
{% endblock %}

{% block left %}
  {% include 'error/_sidebar.html' %}
{% endblock left %}

{% block middle %}
  <div id="b-article-mount">
    <div class="b-article">

      <header class="b-article-header">
        <h1>500</h1>
      </header>
      
      <article id="b-article-content" class="b-article-body">
        <h2>Server Error.</h2>
      </article>

    </div>
  </div>
  {% include '_footer.html' %}

{% endblock %}

{% block right %}

  {% include '_wallpaper.html' %}

{% endblock %}
