<nav class="b-sidebar">

  <div id="b-sidebar-tab-mount">
    <div class="b-sidebar-tab t-border g-column">
      <span class="b-sidebar-burger"></span>
    </div>
  </div>

  <div id="b-sidebar-header-mount">
    <header class="b-sidebar-header">

      <a href="/">
        <img class="b-sidebar-logo" src="{{ config.MEDIA_URL }}logo-white.svg" width="30" height="30">
      </a>

      <h2 class="b-sidebar-title t-logo">
        <a href="/">
          <span class="b-sidebar-firstname">James</span> Spry-Leverton
        </a>
      </h2>

      <h3 class="b-sidebar-sub-title">
        {% if index and index.name %}
          <a href="{{ index.path }}">{{ index.name }}</a>
        {% else %}
          Software Engineer
        {% endif %}
      </h3>

    </header>
  </div>

</nav>
