.l-container {

  overflow: hidden;
  min-height: 100%;

}

.l-left {

  box-shadow: 20px 0px 120px 0px rgba(0,0,0,.65);
  float: left;
  width: 300px;

}

.l-middle {

  float: left;
  width: 310px;

  @media only screen and (min-width: 320px) {
    width: 310px;
  }

  @media only screen and (min-width: 538px) {
    width: 450px;
  }

  @media only screen and (min-width: 768px) {
    width: 550px;
  }

  @media only screen and (min-width: 1920px) {
    width: 650px;
  }

}

.l-middle-container {

  padding-left: 0%;

  @media only screen and (min-width: 538px) {
    padding-left: 10%;
  }

  @media only screen and (min-width: 768px) {
    padding-left: 15%;
  }

  @media only screen and (min-width: 992px) {
    padding-left: 20%;
  }

  @media only screen and (min-width: 1280px) {
    padding-left: 40%;
  }

  @media only screen and (min-width: 1920px) {
    padding-left: 45%;
  }

  overflow-y: visible;
  min-height: 700px;
  float: left;
  height: 100%;
  width: 100%;

}


.l-right {

  overflow: hidden;
  float: left;
  margin-right: -9999px;
  padding-right: 9999px;
  width: 150px;

  @media only screen and (min-width: 321px) {
    width: 150px;
  }

  @media only screen and (min-width: 992px) {
    width: 300px;
  }
}

html.is-ready .l-pusher {
  transition: transform 0.25s ease-in-out;
}

.l-pusher {

  position: relative;
  height: 100%;
  width: 100%;

  @media only screen and (max-width : 992px) {
    width: 9999px;
  }

  transform: translate3d(-260px, 0, 0);

}

html.is-pushed .l-pusher {

  transform: translate3d(0, 0, 0);

}

