.l-container {

  overflow: hidden;
  min-height: 100%;

}

.l-left {

  box-shadow: 20px 0px 120px 0px rgba(0,0,0,.65);
  float: left;
  width: 300px;

}

.l-middle {

  float: left;
  width: 310px;
  margin-left: 0;

  @media only screen and (min-width: 320px) {
    width: 310px;
  }

  @media only screen and (min-width: 538px) {
    margin-left: 50px;
    width: 450px;
  }

  @media only screen and (min-width: 538px) {
    width: 550px;
  }

  @media only screen and (min-width: 992px) {
    margin-left: 100px;
  }

  @media only screen and (min-width: 1920px) {
    margin-left: 20%;
    width: 650px;
  }

}

.l-middle-container {
  overflow-y: visible;
  width: 100%;
  float: left;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.l-right {

  overflow: hidden;
  float: left;
  margin-right: -9999px;
  padding-right: 9999px;

}

html.is-ready .l-pusher {
  transition: transform 0.25s ease-in-out;
}

.l-pusher {

  position: relative;
  height: 100%;
  width: 100%;

  @media only screen and (max-width : 992px) {
    width: 9999px;
  }

  transform: translate3d(-260px, 0, 0);

}

html.is-pushed .l-pusher {

  transform: translate3d(0, 0, 0);

}

