.l-container {

  overflow: hidden;
  min-height: 100%;

}

.l-left {

  box-shadow: 20px 0px 120px 0px rgba(0,0,0,.65);
  float: left;

  @media only screen and (min-width: 321px) {
    width: 300px;
  }

  @media only screen and (min-width: 1200px) {
    width: 25%;
  }
}

.l-middle {

  // box-shadow: 20px 0px 120px 0px rgba(0,0,0,.65);
  float: left;

  @media only screen and (min-width: 321px) {
    width: 310px
  }

  @media only screen and (min-width: 538px) {
    width: 450px
  }

  @media only screen and (min-width: 768px) {
    width: 550px
  }

  @media only screen and (min-width: 992px) {
    width: 50%;
    max-width: 650px;
  }
}

.l-middle-container {

  overflow-y: visible;
  min-height: 700px;
  float: left;
  width: 100%;
  height: 100%;

}


.l-right {

  overflow: hidden;
  float: left;
  margin-right: -9999px;
  padding-right: 9999px;

  @media only screen and (min-width: 321px) {
    width: 150px;
  }

  @media only screen and (min-width: 1200px) {
    width: 25%;
  }
}

html.is-ready .l-pusher {
  transition: transform 0.25s ease-in-out;
}

.l-pusher {

  position: relative;
  height: 100%;
  width: 100%;

  @media only screen and (max-width : 992px) {
    width: 9999px;
  }

  @media only screen and (min-width : 321px) {
    transform: translate3d(-260px, 0, 0);
  }

  @media only screen and (min-width : 1200px) {
    transform: translate3d(-21.8%, 0, 0);
  }

  @media only screen and (min-width : 1400px) {
    transform: translate3d(-22.3%, 0, 0);
  }
}

html.is-pushed .l-pusher {

  transform: translate3d(0, 0, 0);

}

