.b-aside-component-icon(@icon) {

  .fa;
  .fa-fw;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  content: @icon;

}

.b-aside {

  margin-left: 50px;

  @media only screen and (max-width : 1200px) {
    visibility: hidden;
  }

}

.b-aside.is-initialized {

  display: block;

}

.b-aside-list {

  list-style: none;

}

.b-aside-list-item {

  z-index: 5;
  position: absolute;

}

.b-aside-list-item.is-enlarged {

  background-color: rgba(255,255,255,0.3);
  margin: -99999px;
  padding: 99999px;
  z-index: 10;

  .b-aside-component {

    width: 550px;

  }

}

.b-aside-component {

  width: 200px;
  background-color: rgba(255,255,255,0.3);
  overflow: hidden;

}

.b-aside-component-context {

  text-align: center;
  border-top: solid 5px rgba(255,255,255,0.3);
  padding: 0 0 0.2em 0;
  background: @t-secondary-background;

}

.b-aside-component-text {

  width: 75%;

}

.b-aside-component-button {

  &.is-prev {

    float: left;

    &:before {

      .b-aside-component-icon(@fa-var-arrow-left);

    }

  }

  &.is-next {

    float: right;

    &:before {

      .b-aside-component-icon(@fa-var-arrow-right);

    }
  }

}

@keyframes intro {

  from {

    opacity: 0;
    filter: blur(5px);

  } to {

    opacity: 1;
    filter: blur(0);

  }
}

.b-aside-list-item.is-enlarged {

  .b-aside-image,
  .b-aside-gallery {

    animation: intro 200ms 0s 1 ease both;

    img {

      width: 550px;

    }
  }
}

.b-aside-image,
.b-aside-gallery {

  margin-top: 1em;
  border: solid 5px rgba(255,255,255,0.3);
  position: absolute;

  img {
    width: 200px;
    min-height: 100px;
    cursor: pointer;
    display: block;

  }
}

.b-aside-gallery .b-aside-component-context {

  display: flex;
  justify-content: space-between;

}
