html.no-js .b-footer,
html.is-ready .b-footer{
  visibility: visible;
}

.b-footer {
  min-height: 75px;
  visibility: hidden;
  padding: 5% 10% 10% 10%;
  margin-bottom: -5000px;
  padding-bottom: 5000px;
}

.b-footer-copywrite {
  padding-top: 2%;
  float: right;
  text-alight: right;
}
