// @progress-background-color: #509F50;
// @progress-background-waiting-color: #509F50;
@progress-background-color: #E6E1DC;
@progress-background-waiting-color: #E6E1DC;
@progress-color: #c70016;

.b-progress {

  progress, progress[role] {
    color: @progress-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    height: 3px;
    appearance: none;
    border: none;
    background-size: auto;
    border-bottom: 1px solid #333435;
  }

  progress[role]:after {
    background-image: none;
  }

  progress[role] strong {
    display: none;
  }

  progress,
  progress[role][aria-valuenow] {
    background: @progress-background-color !important;
  }

  progress::-webkit-progress-bar {
    background: @progress-background-color;
  }

  progress::-moz-progress-bar {
    background: @progress-color;
  }

  progress::-webkit-progress-value {
    background: @progress-color;
  }

  progress[aria-valuenow]:before  {
    background: @progress-color;
  }

}

.b-progress.is-loading,
.b-progress.is-updated {
  progress::-moz-progress-bar {
    transition: all 0.05s linear;
  }

  progress::-webkit-progress-value {
    transition: all 0.05s linear;
  }

  progress[aria-valuenow]:before  {
    transition: all 0.05s linear;
  }
}
