.b-sidebar {

  .b-sidebar-header {
    padding: 1em;
  }

  .b-sidebar-title {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
  }

  .b-sidebar-sub-title {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

  .b-sidebar-tab {
    float: right;
    cursor: pointer;
    width: 14.5%;
    font-size: 2em;
  }

  .b-sidebar-burger {
    margin-top: 5px;
    width: 100%;
    display: block;
    text-align: center;
    &:before {
      .fa;
      .fa-fw;
      content: @fa-var-reorder;
    }
  }

  .b-sidebar-content {
    overflow: hidden;
    margin-right: 13.5%;
  }

}
