@keyframes vanish-out {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(1.2, 1.2);
    filter: blur(50px);
  }
}

@keyframes vanish-in {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(1.2, 1.2);
    filter: blur(50px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

.b-wallpaper {

  z-index: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;

  canvas {
    visibility: hidden;
    opacity: 0;

  }

  &.is-outro canvas {
    visibility: visible;
    animation: vanish-out 150ms forwards;
  }

  &.is-intro canvas {
    visibility: visible;
    animation: vanish-in 150ms forwards;
  }

  &.is-intro canvas.is-rendering {
    opacity: 0 !important;
    animation: none !important;
  }
}

body.is-pushed .b-wallpaper {
  right: -80px;
}

