
<div class="b-directory">

  <ul class="b-directory-listing">
    {% if root and root.parent %}
    <li class="b-directory-item is-directory is-first">
      <span class="b-directory-item-content">
        <a class="b-directory-item-text" href="{{ root.parent.url }}"> Back </a>
      </span>
    </li>
    {% endif %}
    {% if root and root.children %}
    {% for node in root.children %}
      {% if node.is_indexable %}
        <li class="b-directory-item {% if node.is_directory %}is-directory{% endif %} {% if node.is_file %}is-file{% endif %} {% if not root.parent and loop.index == 1 %}is-first{% endif %} {% if node.is_current_page %}is-current{% endif %}">
          {% if node.is_current_page %}
            <span class="b-directory-item-content">
              <span class="b-directory-item-text">
              {% if node.context.title %}
                {{ node.context.title }}
              {% elif node.name %}
                {{ node.name|capitalize }}
              {% endif %}
            </span>
          {% else %}
            <span class="b-directory-item-content">
              <a class="b-directory-item-text" href="{{ node.url }}">
                {% if node.context.title %}
                  {{ node.context.title }}
                {% elif node.name %}
                  {{ node.name|capitalize }}
                {% endif %}
              </a>
            </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    {% endif %}
  </ul>

</div>
