<div id="b-article-mount">
  <div class="b-article">

    <header class="b-article-header">
      <h1>
        {{ page.title or '' }}
      </h1>
    </header>
    
    <article id="b-article-content" class="b-article-body">
      {% if page %}
        {{ page.content }}
      {% endif %}
    </article>

    <footer class="b-article-footer t-tertiary g-clearfix">

      <div class="b-article-date">
        {% if page.date_added %}
        <div class="b-article-date-added">
          Published {{ page.date_added.strftime('%d').strip('0')|ordinal_suffix }} {{ page.date_added.strftime('%B %Y') }}
        </div>
        {% endif %}

        {% if page.date_modified and page.date_modified != page.date_added %}
        <div class="b-article-date-modified">
          Updated {{ page.date_modified.strftime('%d').strip('0')|ordinal_suffix }} {{ page.date_modified.strftime('%B %Y') }}
        </div>
        {% endif %}
      </div>

      {% if page.author_hash %}
        <div class="b-article-gravitar">
          <img src="http://www.gravatar.com/avatar/{{ page.author_hash }}?s=60">
        </div>
      {% endif %}

      <div class="b-article-author">
        {% if  page.author_name %}
          <div class="b-article-author-name">{{ page.author_name }}</div>
        {% endif %}
        {% if page.author_email %}
          <div class="b-article-author-email">{{ page.author_email }}</div>
        {% endif %}
      </div>

    </footer>
  </div>
</div>
