<footer class="b-footer t-tertiary">

  {% include "_social_links.html" %}

  <ul class="b-footer-links">
    <li class="b-footer-link is-first"><a href="/about{% if request.args.get('branch', None) %}?branch={{ request.args['branch'] }}{% endif %}">about</a></li>
    <li class="b-footer-link is-last"><a href="/contact{% if request.args.get('branch', None) %}?branch={{ request.args['branch'] }}{% endif %}">contact</a></li>
  </ul>

  <div class="b-footer-copywrite">
    © {{ now.strftime('%Y') }}
  </div>
</footer>
