<div class="b-logo">
  <a href="/">
    <?xml version="1.0"?>
    <svg class="b-logo-graphic" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 500 500">
     <g>
      <title>background</title>
      <rect x="-1" y="-1" width="502" height="502" id="b-logo-bg" fill="#333435" class="b-logo-bg-color"/>
     </g>
     <g>

      <ellipse class="b-logo-outer-ring" fill="#d0d0ff" stroke="#ffffff" stroke-width="0" stroke-opacity="null" cx="243.999996" cy="244.000003" rx="203.999997" ry="199.619629"/>

      <ellipse class="b-logo-bg-color" fill="#333435" stroke="#ffffff"  stroke-width="0" stroke-opacity="null" cx="256.500009" cy="264.61809" rx="168.499995" ry="164.881897"/>

      <ellipse class="b-logo-middle-ring" fill="#d0d0ff" stroke-width="0" stroke-opacity="null" cx="265.50001" cy="276.145699" rx="142.499995" ry="139.440179" stroke="#ffffff"/>

      <ellipse class="b-logo-bg-color" fill="#333435" stroke="#ffffff" stroke-width="0" stroke-opacity="null" cx="279.989035" cy="293.710118" id="svg_58" rx="112.010976" ry="109.605832"/>

      <ellipse class="b-logo-inner-ring" fill="#d0d0ff" stroke="#ffffff" stroke-width="0" stroke-opacity="null" cx="285.000007" cy="304.570546" rx="89" ry="87.088957" />

      <ellipse class="b-logo-bg-color" fill="#333435" stroke="#ffffff" ry="61.500001" rx="61.500001" cy="320.869316" cx="296.369316" fill-opacity="null" stroke-opacity="null" stroke-width="0"/>

     </g>
    </svg>
  </a>
</div>
