<meta charset="UTF-8">
<meta name="description" content="{% block description %}{% endblock %}" />
<meta name="keywords" content="{% block keywords %}{% endblock %}" />
<meta name="author" content="James Spry-Leverton [james.spry-leverton.com]" />
<meta name="copyright" content="All text content and images copyright james.spry-leverton.com unless otherwise specified." />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0, user-scalable=no" />

<link rel="shortcut icon" href="{{ config.MEDIA_URL }}favi.ico?v=2">
<link rel="apple-touch-icon" sizes="57x57" href="{{ config.MEDIA_URL }}apple-touch-icon-57x57.png?v=2">
<link rel="apple-touch-icon" sizes="114x114" href="{{ config.MEDIA_URL }}apple-touch-icon-114x114.png?v=2">
<link rel="apple-touch-icon" sizes="72x72" href="{{ config.MEDIA_URL }}apple-touch-icon-72x72.png?v=2">
<link rel="apple-touch-icon" sizes="144x144" href="{{ config.MEDIA_URL }}apple-touch-icon-144x144.png?v=2">
<link rel="apple-touch-icon" sizes="60x60" href="{{ config.MEDIA_URL }}apple-touch-icon-60x60.png?v=2">
<link rel="apple-touch-icon" sizes="120x120" href="{{ config.MEDIA_URL }}apple-touch-icon-120x120.png?v=2">
<link rel="apple-touch-icon" sizes="76x76" href="{{ config.MEDIA_URL }}apple-touch-icon-76x76.png?v=2">
<link rel="apple-touch-icon" sizes="152x152" href="{{ config.MEDIA_URL }}apple-touch-icon-152x152.png?v=2">
<link rel="icon" type="image/png" href="{{ config.MEDIA_URL }}favicon-192x191.png?v=2" sizes="192x192">
<link rel="icon" type="image/png" href="{{ config.MEDIA_URL }}favicon-160x160.png?v=2" sizes="160x160">
<link rel="icon" type="image/png" href="{{ config.MEDIA_URL }}favicon-96x96.png?v=2" sizes="96x96">
<link rel="icon" type="image/png" href="{{ config.MEDIA_URL }}favicon-16x16.png?v=2" sizes="16x16">
<link rel="icon" type="image/png" href="{{ config.MEDIA_URL }}favicon-32x32.png?v=2" sizes="32x32">
<meta name="msapplication-TileColor" content="#333435">
<meta name="msapplication-TileImage" content="{{ config.MEDIA_URL }}mstile-144x144.png?v=2">
