<nav class="b-sidebar">

  <div id="b-sidebar-tab-mount">
    <div class="b-sidebar-tab t-border g-column" data-sidebar="toggle">
      <span class="b-sidebar-burger fa fa-reorder"></span>
    </div>
  </div>

  <div id="b-sidebar-header-mount">
    <header class="b-sidebar-header">
      <h2 class="b-sidebar-title t-logo">
        <a href="/">
          <span class="b-sidebar-firstname">James</span> Spry-Leverton
        </a>
      </h2>

      <h3 class="b-sidebar-sub-title">
        {% if index and index.name %}
          <a href="{{ index.path }}">{{ index.name }}</a>
        {% else %}
          Web Developer, London
        {% endif %}
      </h3>

    </header>
  </div>

  <div class="b-sidebar-content">
    {% include "_directory.html" %}
  </div>

</nav>
