<ul class="b-social-links g-clearfix">
  <li class="b-social-item">
    <a class="b-social-link is-bitbucket is-first" href="https://bitbucket.org/spryle" target="_blank" alt="James on Bitbucket" title="Bitbucket"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-github is-first" href="https://github.com/spryle" target="_blank" alt="James on Github" title="Github"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-twitter" href="https://twitter.com/@spryle" target="_blank" alt="James on Twitter" title="Twitter"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-hacker-news" href="https://news.ycombinator.com/user?id=spryle" target="_blank" alt="James on Hacker News" title="Hacker News"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-angellist" href="https://angel.co/james-spry-leverton" target="_blank" alt="James on AngelList" title="Angel List"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-linkedin" href="https://linkedin.com/pub/james-spry-leverton/23/a66/bba" target="_blank" alt="James on LinkedIn" title="LinkedIn"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-facebook is-last" href="https://www.facebook.com/jspryleverton" target="_blank" alt="James on Facebook" title="Facebook"></a>
  </li>
  <li class="b-social-item">
    <a class="b-social-link is-lastfm" href="https://www.last.fm/user/spry13443" target="_blank" alt="James on last.fm" title="LastFM"></a>
  </li>
</ul>
