{% if config.MINIFIED_STATIC %}

<esi:remove>
  <script type="text/javascript" src="{{ config.STATIC_URL }}js/head.min.gz.js"></script>
  <link href="{{ config.STATIC_URL }}css/head.min.gz.css" rel="stylesheet" type="text/css">
</esi:remove>

<!--esi
<style>
  <esi:include src="{{ config.STATIC_URL }}css/head.min.css" />
</style>
<script type="text/javascript">
  <esi:include src="{{ config.STATIC_URL }}js/head.min.js" />
</script>
-->

{% else %}

<esi:remove>
  <script type="text/javascript" src="{{ config.STATIC_URL }}js/head.js"></script>
  <link href="{{ config.STATIC_URL }}css/head.css" rel="stylesheet" type="text/css">
</esi:remove>

<!--esi
<style>
  <esi:include src="{{ config.STATIC_URL }}css/head.css" />
</style>
<script type="text/javascript">
  <esi:include src="{{ config.STATIC_URL }}js/head.js" />
</script>
-->

{% endif %}

{% if config.GOOGLE_ANALYTICS %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  window.ga('create', 'UA-16542189-4', 'auto');
  window.ga('send', 'pageview');
</script>
{% endif %}
