<!DOCTYPE html>
<html class="no-js is-pushed" lang="en-gb">
  <head>
  
    <span id="b-title-mount">
      <title>{% block title %}James Spry-Leverton{% endblock %}</title>
    </span>

    <div id="b-meta-mount">
      {% include '_meta.html' %}
      {% include '_client.html' %}
      {% include '_static.html' %}
    </div>
  </head>

  <body class="l-three-column-pusher t-railscast">

    {% include '_wallpaper.html' %}
    {% include '_progress.html' %}

    <div class="l-container t-tertiary">
      <div class="l-pusher">

        <div class="l-left t-secondary g-column">
          <div class="l-left-container">
            {% block left %}
            {% endblock %}
          </div>
        </div>

      <div class="l-middle t-primary g-column">
          <div class="l-middle-container">
            {% block middle %}
            {% endblock %}
          </div>
        </div>

        <div class="l-right g-column">
          <div class="l-right-container">
            {% block right %}
            {% endblock %}
          </div>
        </div>

      </div>
    </div>

    {% include '_wallpaper_debug_bar.html' %}

  </body>
</html>
